
@{
    ViewData["Title"] = "Index for Client Area";
}
<h2>Index</h2>

For the same controller      <a asp-controller="Home" asp-action="About" asp-area="Client"> Call Client About</a> <br/>
For the different controller <a asp-controller="Home" asp-action="About" asp-area="Techie"> Call Techie About</a> <br/>