
@{
    ViewData["Title"] = "Vision";
}

<h2>Vision</h2>

<p>
    The vision API contains the following set of services

    Computer Vision
    Content Moderator
    Custom Vision Service
    Emotion API
    Face API
    Video Indexer

</p>
            